<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.momentumvinum.shop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/vinodegradado"
        android:label="@string/nombre_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/nombre_app"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vinos_activities.VinosActivity"
            android:label="Vinos"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.momentumvinum.shop.MainActivity" />
        </activity>
        <activity
            android:name=".destilados_activities.DestiladosActivity"
            android:label="Destilados"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.momentumvinum.shop.MainActivity" />
        </activity>
        <activity
            android:name=".otros_activities.OtrosActivity"
            android:label="Otros productos"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.momentumvinum.shop.MainActivity" />
        </activity>
        <activity android:name=".DetailActivityProduct"></activity>
    </application>

</manifest>